<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0001Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <servlet>
   <servlet-name>hello</servlet-name>
   <servlet-class>com.iq.servlets.HelloWorldServlet</servlet-class>
   
   </servlet>
   
   <servlet-mapping>
     <servlet-name>hello</servlet-name>
     <url-pattern>/hello</url-pattern>
   
   </servlet-mapping>
   
     <servlet>
   <servlet-name>findAll</servlet-name>
   <servlet-class>com.iq.servlets.FindAllEmpServlet</servlet-class>
   
   </servlet>
   
   <servlet-mapping>
     <servlet-name>findAll</servlet-name>
     <url-pattern>/findAll</url-pattern>
   
   </servlet-mapping>
   
   
</web-app>